name: Run CI
on: [pull_request]
jobs:

  build:
    name: Run CI
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go 1.17.6
      uses: actions/setup-go@v2
      with:
        go-version: 1.17.6
      id: go

    - name: Check out the code
      uses: actions/checkout@v2

    - name: Make CI
      run: make ci
