name: Run CI
on: [pull_request]
jobs:
  get-go-version:
    uses: ./.github/workflows/get-go-version.yaml
    with:
      ref: ${{ github.event.pull_request.base.ref }}

  build:
    name: Run CI
    runs-on: ubuntu-latest
    needs: get-go-version
    steps:
    - name: Check out the code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ needs.get-go-version.outputs.version }}

    - name: Make CI
      run: make ci

    - name: Upload test coverage
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.out
        verbose: true
